{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "global-require": "off",
    "semi": "off",
    "indent": "off",
    "consistent-return": "off",
    "prefer-const": "off",
    "vars-on-top": "off",
    "object-shorthand": "off",
    "object-curly-spacing": "off",
    "func-names": "off",
    "no-useless-escape": "off",
    "no-console": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "off",
    "no-nested-ternary": "off",
    "react/no-multi-comp": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "jsx-a11y/label-has-for": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "react/jsx-one-expression-per-line": "off",
    "max-len": "off",
    "react/sort-comp": "off",
    "padded-blocks": "off",
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-wrap-multilines": "off",
    "operator-linebreak": "off",
    "no-confusing-arrow": "off",
    "no-plusplus": "off",
    "no-restricted-globals": "off",
    "prefer-arrow-callback": "off",
    "no-return-assign": "off",
    "implicit-arrow-linebreak": "off",
    "camelcase": "off",
    "one-var": "off"
  },
  "globals": {
    "document": true,
    "Image": true,
    "fetch": true,
    "window": true,
    "alert": true,
    "Headers": true,
    "test": true,
    "expect": true,
    "it": true,
    "chrome": true
  }
}
